API_ID="27274687"
API_HASH="9d02db6b9c9ae0e1e77f9a48b2791ee9"
BOT_TOKEN="6383586361:AAGAxDyCZeZ84DbHxmyuGUMv7wovxdDYmrE"
SESSION="BQGgLb8APYU8ezZfBU0-kua7XV5zGesLfo1EjwXIDXGZ4ltB3TkkLAdeva-iJ6EbEeni4s8G372J4M2C0mOdxT47wbY5MeqD6hY72BQrdqHcmvijOtDr3Xa4kwuxYJLn1Em93bbKmfAjB3ufxgjhvmL2pVZZt_pVf0Zgn8fBPxlDqhcGDgi3Jm3G1BuZl50q77iSQTrD14c5agi0oVdK9943Y5XZUYTHq45SNDfdftIaxxwkqSp5vnPpJik0UaZk0nWxBGOAk_D6By12dcfxUswtrOiDltxd0OrET1k9kE1A6QmDnsY7RsXyN4kJ0JErkhXpGN714rL2dn8qr04aqhzABPJTnAAAAAEt33bUAA"
ADMINS=5064586964
OWNER=5064586964
USERBOT_ID="6383586361"
HELPER="BOT232_HELPER_BOT"
